.edit-popup__input {
  font-family: 'Inter Regular', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17px;
  border: hidden;
  border-bottom: solid 1px rgba(0, 0, 0, .2);
  margin-bottom: 25px;
  height: 30px;
  outline: none;
}

@media screen and (max-width: 768px) {
  .edit-popup__input {
    margin-bottom: 20px;
  }
}
