.profile {
  margin: 0 0 50px;
  position: relative;
  min-width: 320px;
  max-width: 880px;
  width: 68.75%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
    margin-bottom: 32px;
  }
}
