.elements {
  max-width: 880px;
  min-width: 282px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px 17px;
}

@media screen and (max-width: 980px) {
  .elements {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .elements {
    grid-template-columns: minmax(0, 1fr);
  }
}
