.profile__name {
  margin: 0 20px 10px 0;
  color: white;
  font-family: 'Inter Regular', sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: name;
}

@media screen and (max-width: 680px) {
  .profile__name {
    margin: 0 10px 0 0;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 14px;
  }
}
