.profile__info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "name button" "job job";
}

@media screen and (max-width: 768px) {
  .profile__info {
    width: max-content;
    justify-content: center;
    margin-bottom: 36px;
  }
}
