.element__button-like {
  width: 21px;
  height: 19px;
  cursor: pointer;
  background-color: white;
  border: none;
  transition: opacity .2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element__button-like:hover {
  opacity: .5;
}

.element__button-like:active {
  background-image: url(../../../images/button-like-active.svg);
  opacity: 1;
}
